# This matches hid-sony devices that have been updated to match xpad layouts
[driver="sony" events="subset" order="11"]

# Options

name = "sony"
devname = "ps_"
exclusive = "true"
change_permissions = "true"
flatten = "false"
rumble = "true"


# Event mappings

abs(016) = "leftright", "D-pad X axis"
abs(017) = "updown", "D-pad Y axis"
abs(000) = "left_x", "Left stick X axis"
abs(001) = "left_y", "Left stick Y axis"
abs(003) = "right_x", "Right stick X axis"
abs(004) = "right_y", "Right stick Y axis"
abs(002) = "l2_axis", "L2 analog values"
abs(005) = "r2_axis", "R2 analog values"

key(304) = "cross", "Cross (X) face button"
key(305) = "circle", "Circle face button"
key(307) = "triangle", "Triangle face button"
key(308) = "square", "Square face button"
key(310) = "l1", "L1 shoulder button"
key(311) = "r1", "R1 shoulder button"
key(312) = "l2", "L2 shoulder button"
key(313) = "r2", "R2 shoulder button"
key(317) = "l3", "Left stick click"
key(318) = "r3", "Right stick click"
key(315) = "options", "Options button"
key(314) = "share", "Share button"
key(316) = "home", "Home button or touchpad press"


# Aliases

alias primary cross
alias secondary circle
alias third square
alias fourth triangle

alias select share
alias start options
alias mode home

alias tr r1
alias tr2_axis_btn r2
alias tr2_axis r2_axis
alias tl l1
alias tl2_axis_btn l2
alias tl2_axis l2_axis

alias thumbl l3
alias thumbr r3


