# Rules to assign known controllers to user "gamepad",
# so that moltengamepad (which is run setuid gamepad) has rights on the device nodes

# ZD Gamepad in Android mode (when plugged in while Linux is running)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0079", ATTRS{idProduct}=="18ad", OWNER="gamepad", GROUP="input", MODE="0660"

# Actual XBox 360 gamepad, ZD Gamepad in Windows mode (sometimes when pad is plugged in when machine is turned on)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="028e", OWNER="gamepad", GROUP="input", MODE="0660"

# ZD Gamepad in Switch mode (sometimes when pad is plugged in when machine is turned on)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="20d6", ATTRS{idProduct}=="a710", OWNER="gamepad", GROUP="input", MODE="0660"

# ZD Gamepad in PS3 mode
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0079", ATTRS{idProduct}=="18aa", OWNER="gamepad", GROUP="input", MODE="0660"

# 8bitdo Gamepad in Switch mode
SUBSYSTEMS=="usb", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="2009", OWNER="gamepad", GROUP="input", MODE="0660"

# 8bitdo Gamepad in DirectInput mode
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2dc8", ATTRS{idProduct}=="6001", OWNER="gamepad", GROUP="input", MODE="0660"

# Thrustmaster
SUBSYSTEMS=="usb", ATTRS{idVendor}=="044f", ATTRS{idProduct}=="b323", OWNER="gamepad", GROUP="input", MODE="0660"

# Mad Catz SFV Fightpad
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0738", ATTRS{idProduct}=="8250", OWNER="gamepad", GROUP="input", MODE="0660"

# Sony Dual Shock 4
SUBSYSTEMS=="usb", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="09cc", OWNER="gamepad", GROUP="input", MODE="0660"

# retrolinc N64
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0079", ATTRS{idProduct}=="0006", OWNER="gamepad", GROUP="input", MODE="0660"

# Horipad for Switch
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0f0d", ATTRS{idProduct}=="00c1", OWNER="gamepad", GROUP="input", MODE="0660"

# Dancepad
SUBSYSTEMS=="usb", ATTRS{idVendor}=="6677", ATTRS{idProduct}=="8811", OWNER="gamepad", GROUP="input", MODE="0660"


